[Unit]
Description=Run the AskCruz email harvester every 2 hours

[Timer]
OnCalendar=00/2:00:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
